<div class="main">
  <div
    class="section"
    style="background-color: black; background-size: cover; background-position: top center;min-height: 700px;">
    <!--background-image: url('assets/img/bg11.jpg'); -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 content-center ml-auto mr-auto">
          <div class="card card-login card-plain">

            <button class="btn btn-primary" type="button" [routerLink]="['/admin/add-ad']">Ajouter une annonce</button>
            <button class="btn btn-primary" type="button" [routerLink]="['/admin/manage-ads']" >Gérer les annonces</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

