<div class="section section-basic">
  <div class="container">
    <h3 class="title">Véhicules en vente</h3>
    <div class="row vehicules-list">

      <p class="col-12     category col-lg-12">Mercedes AMG</p>
      <div class="col-12    col-lg-4">



        <div class="row justify-content-center">
          <div>
            <ngb-carousel>
              <ng-template ngbSlide>
                <img class="d-block" src="../../../assets/img/cars/amg.jpeg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <!-- <h5>Nature, United States</h5> -->
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img class="d-block" src="../../../assets/img/cars/amg-2.jpeg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <!-- <h5>Nature, United States</h5> -->
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>



        <!-- <img #image src="assets/img/cars/amg.jpeg" alt="AMG" class="rounded"> -->
      </div>
      <div class="col-12    col-lg-8">
        <div class="space-10"></div>
        Sehr geehrte Damen und Herren

        Vielen Dank, dass Sie uns Ihr Vertrauen schenken und sich für unser Angebot entschieden haben.

        Für eine unverbindliche Beratung und Probefahrt stehen wir Ihnen gerne zur Verfügung.

        Bitte vereinbaren Sie einen Besichtigungstermin, damit wir das Fahrzeug für Sie bereitstellen können.
      </div>

    </div>
  </div>
</div>
